a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: inherit;
    text-decoration: none
}

button,
input,
select {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0
}

*,
::after,
::before {
    box-sizing: border-box
}

#wrapper {
    max-width: 1920px;
    margin: 0 auto
}

header {
    height: 110px
}

header .wrap {
    width: 1340px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative
}

header .wrap h1 {
    height: 100%;
    padding-top: 24px
}

header .wrap h1 a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%
}

header .wrap h1 img {
    height: 100%
}

header .wrap .btn-nav-opn {
    display: none
}

header .wrap nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

header .wrap nav .call {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #004f9f
}

header .wrap nav .call i {
    margin-right: 9px
}

header .wrap nav .gnb {
    display: flex;
    align-items: center
}

header .wrap nav .gnb li {
    margin: 0 35px;
    font-size: 18px;
    position: relative
}

header .wrap nav .gnb li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #000;
    transition: width .3s
}

header .wrap nav .gnb li:hover::after {
    width: 100%
}

section.sec1 .main-content {
    padding: 120px 0 90px;
    width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

section.sec1 .main-content h2 {
    font-size: 54px;
    font-weight: 600;
    line-height: 1.2
}

section.sec1 .main-content h2 div p {
    color: rgba(255, 255, 255, 0);
    display: inline-block;
    position: relative
}

section.sec1 .main-content h2 div p span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

section.sec1 .main-content h2 div p span::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #004f9f;
    animation: text-slide .4s
}

section.sec1 .main-content h2 div p span::after {
    content: '애드강츠비';
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .3s;
    transition-delay: .3s;
    transform: translateY(100%);
    color: #fff
}

section.sec1 .main-content h2 div p.float span::after {
    transform: translateY(0)
}

@keyframes text-slide {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

section.sec1 .main-content>p {
    font-size: 18px;
    width: 400px;
    line-height: 1.3
}

section.sec1 .prj-preview {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto
}

section.sec1 .prj-preview .title {
    background-color: #004f9f;
    display: flex;
    justify-content: flex-end;
    width: calc((100% - 1340px)/ 2 + 350px)
}

section.sec1 .prj-preview .title .title-content {
    width: 350px;
    padding: 110px 40px 44px 0;
    color: #fff;
    display: flex;
    flex-direction: column
}

section.sec1 .prj-preview .title .title-content h3 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center
}

section.sec1 .prj-preview .title .title-content h3::after {
    content: '';
    display: inline-block;
    width: 150px;
    margin-left: 10px;
    height: 1px;
    background-color: #fff
}

section.sec1 .prj-preview .title .title-content h4 {
    margin: 24px 0 60px;
    font-size: 24px;
    line-height: 1.3
}

section.sec1 .prj-preview .title .title-content .arrow {
    margin-bottom: 145px;
    display: flex
}

section.sec1 .prj-preview .title .title-content .arrow li {
    margin-right: 21px
}

section.sec1 .prj-preview .title .title-content .arrow li button {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    opacity: .7;
    transition: opacity .2s;
    position: unset;
    left: unset;
    right: unset;
    margin: unset;
    display: unset;
    color: unset
}

section.sec1 .prj-preview .title .title-content .arrow li button::after {
    content: none
}

section.sec1 .prj-preview .title .title-content .arrow li button:hover {
    opacity: 1
}

section.sec1 .prj-preview .project-more {
    margin-left: auto
}

section.sec1 .prj-preview .project-more a {
    display: flex;
    align-items: center
}

section.sec1 .prj-preview .project-more .btn-txt {
    display: block;
    font-size: 16px;
    color: #fff;
    margin-right: 9px
}

section.sec1 .prj-preview .project-more .btn-txt::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width .3s
}

section.sec1 .prj-preview .project-more .btn-txt:hover::after {
    width: 100%
}

section.sec1 .prj-preview .slider-wrap {
    background-color: #f0f0f0;
    width: calc((100% - 1340px)/ 2 + 990px);
    padding: 48px 0 48px 48px
}

section.sec1 .prj-preview .slider-wrap .slider {
    height: 100%
}

section.sec1 .prj-preview .slider-wrap .slider .preview-item {
    width: max-content;
    height: 420px
}

section.sec1 .prj-preview .slider-wrap .slider .preview-item img {
    height: 100%;
    width: auto
}

section.sec2 {
    padding: 145px 0 114px 0
}

section.sec2 .wrap {
    width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

section.sec2 .wrap h2 {
    font-size: 75px
}

section.sec2 .wrap h2 .sticky {
    position: sticky;
    top: 36px;
    left: 0;
    padding-bottom: 330px
}

section.sec2 .wrap h2 .sticky img {
    width: 230px
}

section.sec2 .wrap .about-context {
    width: 936px
}

section.sec2 .wrap .about-context h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px
}

section.sec2 .wrap .about-context .copyright {
    padding-bottom: 75px
}

section.sec2 .wrap .about-context .copyright .main-copy {
    margin-top: 15px;
    margin-bottom: 75px;
    font-size: 48px;
    font-weight: 500
}

section.sec2 .wrap .about-context .copyright .sub-copy {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 200
}

section.sec2 .wrap .about-context .company-info li {
    padding: 24px 0 24px 225px;
    border-bottom: 1px solid #000;
    position: relative
}

section.sec2 .wrap .about-context .company-info li:first-child {
    border-top: 1px solid #000
}

section.sec2 .wrap .about-context .company-info li .num {
    position: absolute;
    top: 24px;
    left: 0;
    font-size: 16px;
    font-weight: 500
}

section.sec2 .wrap .about-context .company-info li h4 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 27px
}

section.sec2 .wrap .about-context .company-info li .text {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.3
}

section.sec3 {
    background-color: #f0f0f0;
    padding: 114px 0
}

section.sec3 .wrap {
    margin: 0 auto;
    width: 1340px
}

section.sec3 .wrap h3 {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    margin-bottom: 24px
}

section.sec3 .wrap .gallery-item .img-view {
    width: 100%;
    height: 600px;
    background-color: #444;
    overflow: hidden
}

section.sec3 .wrap .gallery-item .img-view .track .slide {
    width: 100%;
    height: 100%
}

section.sec3 .wrap .gallery-item .img-view .track .slide img {
    object-fit: cover;
    width: 100%;
    object-position: center center;
    height: 600px
}

section.sec3 .wrap .gallery-item .item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    position: relative
}

section.sec3 .wrap .gallery-item .item-info .img-description {
    font-size: 16px;
    font-weight: 200;
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

section.sec3 .wrap .gallery-item .item-info .img-description:first-child {
    display: block
}

section.sec3 .wrap .gallery-item .item-info .arrow {
    display: flex
}

section.sec3 .wrap .gallery-item .item-info .arrow li {
    margin-left: 18px
}

section.sec3 .wrap .gallery-item .item-info .arrow li button {
    cursor: pointer;
    position: unset;
    left: unset;
    right: unset;
    width: unset;
    height: unset
}

section.sec3 .wrap .gallery-item .item-info .arrow li button::after,
section.sec3 .wrap .gallery-item .item-info .arrow li button::before {
    content: none
}

section.sec4 {
    background-color: #004f9f;
    padding: 114px 0
}

section.sec4 .wrap {
    width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

section.sec4 .wrap .contact-text {
    color: #fff;
    padding: 72px 0 0 0
}

section.sec4 .wrap .contact-text h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 84px
}

section.sec4 .wrap .contact-text .text {
    font-size: 39px;
    color: #fff;
    font-weight: 500;
    line-height: 1.3
}

section.sec4 .wrap .contact-text .naver-map-link {
    color: #fff;
    margin-top: 54px;
    text-decoration: underline
}

section.sec4 .wrap .naver-map-api {
    width: 800px;
    height: 420px;
    background-color: #004f9f;
    color: #fff
}

section.sec4 .wrap .naver-map-api #map {
    width: 100%;
    height: 100%
}

footer {
    height: 365px;
    padding: 78px 0 0 0;
    font-size: 15px
}

footer .wrap {
    margin: 0 auto;
    width: 1340px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    height: 100%;
    position: relative
}

footer .wrap .company-info .info {
    margin-bottom: 24px
}

footer .wrap .company-info address {
    font-style: normal;
    line-height: 1.3
}

footer .wrap .call-number {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500
}

footer .wrap .social .sns-list {
    display: flex
}

footer .wrap .social .sns-list li {
    margin-left: 18px
}

footer .wrap .social .sns-list li img{
    height: 27px;
}

footer .wrap .page-copyright {
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 200
}